.header__container {
    user-select: none;
    border-bottom: 3px solid $text-brown;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $menu-yellow-background;
    // background-image: url("../../../src/assets/parchment_large-header.png");
    // background-image: url("https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_footer.png?alt=media&token=68176bdf-c406-49b5-9b2d-742359106ddf");
    // background-image: url("https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_header.png?alt=media&token=e1c3eec6-3538-47f6-81aa-ba6b09d0a0ae");
    background-size: 100%;
    // background-image: url('https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_small.png?alt=media&token=47a561c9-751f-4a10-8f7b-72a8611e1b8d');
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_large-header.png?alt=media&token=5d2bddfb-dd3d-484d-b579-47366641a643");

    .float-left {
        float: left;
    }
    .title {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.header__link {
    text-decoration: none;
    color: $text-brown;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header__castle--image {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: $xs-size;
    max-height: $l-size;
    margin-bottom: 2px;
}

.header__logo--image {
    max-height: $l-size + $xs-size;
    margin-bottom: 2px;
}
