.header__container {
    user-select: none;
    border-bottom: 3px solid $text-brown;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $menu-yellow;
    background-image: url("../../../src/assets/parchment_footer.png");
    background-size: 100%;

    .float-left {
        float: left;
    }
    .title {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.header__link {
    text-decoration: none;
    color: $text-brown;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header__castle--image {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: $xs-size;
    max-height: $l-size;
    margin-bottom: 2px;
}

.header__logo--image {
    max-height: $l-size + $xs-size;
    margin-bottom: 2px;
}
