.home__container {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_small.png?alt=media&token=47a561c9-751f-4a10-8f7b-72a8611e1b8d');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    min-height: 100vh;
    font-size: $calcFontSizeLarge;
    font-weight: 600;
    color: $text-brown;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .home__container {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_large.png?alt=media&token=0ee8d6b5-6fa0-46e1-8545-123dc602017c');
        font-size: $calcFontSize;
    }
}
