#notFoundPage {
    color: $safari-yellow;
    font-size: $calcFontSizeLarge;
    text-align: center;
    h1 {
        margin-top: 0;
    }
    a {
        color: $safari-yellow;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    #notFoundPage {
        font-size: $calcFontSize;
        text-align: center;

        h1 {
            margin-top: 0;
        }
    }
}
