.sMenu__container {
    // font-size: $calcFontSizeLarge;
    text-align: center;
    margin-top: $s-size;
    caret-color: transparent;
}

.sMenu__button {
    @include button--base;
    // @include button--border;
    // background-color: $menu-yellow;
    // color: $text-brown;
    // display: block;
    // font-weight: bold;
    // padding: 2px;
    // @include button--shadow;
}

.sMenu__tray {
    background-color: $menu-yellow;
    position: absolute;
    @include button--border;
    transform: translateX(-50%);
    max-width: 75%;
    min-width: max-content;
    @include button--shadow--list;
}

.sMenu__option {
    padding: 10px 5px;
    text-align: left;
    list-style: none;

    :visited {
        background-color: $menu-yellow-hover;
    }
    :focus {
        background-color: $menu-yellow-hover;
    }
    :hover {
        background-color: $menu-yellow-hover;
    }
    :active {
        background-color: $menu-yellow-hover;
    }
}

.displayWeapon__container--pick {
    .sMenu__container {
        margin-top: 0;
        padding: $xs-size;
        position: relative;
    }

    .sMenu__button {
        @include button--border;
        background-color: $menu-yellow;
        color: $text-brown;
        display: block;
        font-weight: normal;
        padding: 2px;
    }

    .sMenu__tray {
        background-color: $menu-yellow;
        position: absolute;
        @include button--border;
        transform: translateX(-50%);
        z-index: 75;
    }
}

// @media only screen and (min-device-width: $desktop-breakpoint) {
//     .sMenu__container {
//         width: 50%;
//         margin: auto;
//         margin-top: $s-size;
//     }
//     .sMenu__button {
//         font-size: $calcFontSizeMed;
//         width: 50%;
//         margin: auto;
//     }
// }
