.createWeaponGroup__container {
    background-image: url("../../../src/assets/parchment_small.png");
    background-size: 100vw 100vh;
    min-height: 100vh;
    font-size: $calcFontSizeLarge;
    font-weight: 600;
    color: $text-brown;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .createWeaponGroup__container {
        background-image: url("../../../src/assets/parchment_large.png");
        font-size: $calcFontSize;
    }
}
