.createScroll__container {
    background-size: 100vw 100vh;
    min-height: 100vh;
    font-size: $calcFontSizeLarge;
    font-weight: 600;
    color: $text-brown;
    padding: $s-size;
    justify-content: center;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .createScroll__container {
        font-size: $calcFontSize;
    }
}
