.displayScrolls__container--create {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: $calcFontSizeLarge;
    font-weight: 600;
    color: $text-brown;
    padding: $s-size;
    justify-content: center;

    .field__container {
        justify-content: center;
    }

    .field__container--description {
        text-align: center;
    }

    .field--input {
        background-color: $menu-yellow;
        max-width: 95%;
        font-size: $calcFontSizeLarge;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .displayScrolls__container--create {
        font-size: $calcFontSize;
    }
}
