.characterSummary__line {
    display: flex;
    justify-content: space-between;
}

.characterSummary__margin--right {
    margin-right: 5%;
}

.characterSummary__align--right {
    text-align: right;
}
