.attribution__linkTo {
    padding-top: 5px;
    color: $text-brown;
    text-decoration: none;
}

.attribution__container {
    user-select: none;
    padding-bottom: $l-size;
    a {
        color: $text-brown;
    }
}

.attribution__published {
    padding-top: $s-size;
}

.attribution__description {
    padding: $s-size $s-size 0;
}

.attribution__trademarks {
    padding: $s-size 0;
}

.attribution__copyright {
    padding: $s-size;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .attribution__linkTo {
        padding-top: $s-size;
    }
}
