.welcome__container {
    user-select: none;
    padding: $s-size;
    // display: flexbox;
}

.welcome__container--logo {
    padding-bottom: 16vh;
    width: 100%;
}

.welcome__logo--image {
    max-width: 90vw;
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcome__container--buttons {
    padding-bottom: $xl-size;
}

.welcome__container--button {
    padding-bottom: $s-size;
}

.welcome__creation--button {
    max-width: 90vw;
    max-height: 25vh;
    box-shadow: 0 5px 27px 2px $text-brown;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: $text-brown-shadow;


    &.faded {
        opacity: 0.6;
    }
}

.welcome__container--attribution {
    display: block;
    // position: absolute;
    // bottom: -0vh;
    // margin-bottom: 10px;
    // justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
}

.welcome__attribution--link {
    color: $text-brown;
    // position: fixed;
    bottom: -0vh;
    margin-bottom: 10px;
    text-decoration: underline;
    // margin-left: auto;
    // margin-right: auto;
    // display: inline-block;
    transform: translateX(-50%);
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .home__container {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_large.png?alt=media&token=0ee8d6b5-6fa0-46e1-8545-123dc602017c");
        font-size: $calcFontSize;
    }
}
