.charWeapon__container {
    margin-bottom: $m-size;
}

.charWeapon__title {
    font-size: $calcFontSizeExtraLarge;
    padding-top: $xs-size;
}

.charWeapon__text {
    padding: $xs-size 0;
    text-align: center;
}
