.charTraits__container {
    padding-top: $xs-size;
    padding-bottom: $m-size;
}

.charTraits__title {
    font-size: $calcFontSizeExtraLarge;
    // padding-top: $xs-size;
}

.charTraits__container--count {
    margin-left: $xl-size;
}

.charTraits__text--reminder {
    font-style: italic;
    font-size: $calcFontSize;
    justify-content: right;
    display: flex;
}
