.displayWeapon__heading--clickable {
    @include button--border;
    background-color: $menu-yellow;
    color: $text-brown;
    user-select: none;
    @include button--shadow--list;
}

.displayWeapon__heading--title {
    text-align: center;
    overflow: hidden;
}

// .displayWeapon__container--body {

// }

.displayWeapon__container--spacer {
    padding: $xs-size;
}

.displayWeapon__container--edit {
    user-select: contain;
    justify-content: center;
    text-align: center;
}

.displayWeapon__container--range {
    margin: $xs-size 0;
}

.displayWeapon__range--title {
    text-align: center;
}

.displayWeapon__range--body {
    text-align: left;
    margin: 0 0 0 $l-size;
}

.displayWeapon__description {
    padding: $xs-size;
}

.displayWeapon__container--weaponGroup {
    padding-bottom: $s-size;
}
