.heritageTraitSelect__container {
    margin: 5px 0;
    user-select: none;
}

.heritageTraitSelect__header {
    font-weight: bold;
    text-align: center;
}

.heritageTraitSelect__container--button {
    text-align: center;
    margin-bottom: $s-size;
}

.heritageTraitSelect__button {
    background-color: $menu-yellow;
    @include button--border;
    font-size: $calcFontSizeLarge;
    font-weight: bold;

    &.notSelected {
        font-weight: normal;
    }
}

.heritageTraitSelect__container--text {
    color: $text-brown;

    &.notSelected {
        color: $text-brown-faded;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .heritageTraitSelect__button {
        background-color: $menu-yellow;
        @include button--border;
        font-size: $calcFontSize;
        font-weight: bold;

        &.notSelected {
            font-weight: normal;
        }
    }
}
