.newCharFooter__container {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: $menu-yellow-background;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tinydungeon-85b41.appspot.com/o/parchment_medium-footer.png?alt=media&token=26600d00-1b8e-47af-b8dc-d937527e4a64");
    background-size: 100%;
    outline: 1px solid $text-brown;
    @include footer--shadow;
}

.newCharFooter__button--back {
    @include button--border;
    background-color: $menu-yellow;
    color: $text-brown;
    font-size: $calcFontSize;
    font-weight: bold;
    padding: $xs-size;
    width: 50%;
    margin: $xs-size;
    text-align: center;
    user-select: none;
    justify-content: space-around;

    &.beginning {
        background-color: $menu-yellow-faded;
        color: $text-brown-faded;
    }

    &:focus {
        outline-color: $text-brown;
    }
}

.newCharFooter__button--next {
    @include button--border;
    background-color: $menu-yellow;
    color: $text-brown;
    font-size: $calcFontSize;
    font-weight: bold;
    padding: $xs-size;
    width: 50%;
    margin: $xs-size;
    text-align: center;
    user-select: none;
    justify-content: space-around;

    &:focus {
        outline-color: $text-brown;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .newCharFooter__container {
        width: 50rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
