.createWeapon__container {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: $calcFontSizeLarge;
    font-weight: 600;
    color: $text-brown;

    .field--input {
        background-color: $menu-yellow;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .createWeapon__container {
        font-size: $calcFontSize;
    }
}
