.charSheet__container {
    user-select: none;
    position: relative;

    .field__container {
        width: 100%;
    }

    .field--input {
        text-align: center;
        background-color: transparent;
        border: none;
        font-size: $calcFontSizeLarge;
        min-width: 100%;
        max-width: 100%;
        min-height: max-content;
        user-select: contain;
        overflow: auto;
        z-index: 20;
    }

    input:focus {
        outline: none;
        border-style: solid;
        border-width: 2px;
        border-color: $text-brown;
        box-shadow: 0 0 10px $text-brown;
    }
    textarea:focus {
        outline: none;
        border-style: solid;
        border-width: 2px;
        border-color: $text-brown;
        box-shadow: 0 0 10px $text-brown;
    }
    ::placeholder {
        color: $text-brown-placeholder;
    }
}

.charSheet__spacer {
    padding: $xs-size;
}

.charSheet__nameHeritage {
    display: flexbox;
    font-size: $calcFontSizeExtraLarge;
}

.charSheet__belief {
    display: flex;
    justify-content: center;
    position: relative;
}