.charSheet__container {
    user-select: none;
    position: relative;
}

.charSheet__spacer {
    padding: $xs-size;
}

.charSheet__nameHeritage {
    display: flexbox;
    font-size: $calcFontSizeExtraLarge;
}

.charSheet__belief {
    display: flex;
    justify-content: center;
    position: relative;
}



@media only screen and (min-device-width: $desktop-breakpoint) {
    // .charSheet__container {
    //     .field--input {
    //         font-size: $calcFontSize;
    //     }
    // }
    .charSheet__spacer {
        // padding: $s-size;
        width: 35rem;
        margin: auto;
    }

    .charSheet__nameHeritage {
        display: flexbox;
        font-size: $calcFontSizeMed;
    }

    // .charSheet__display--title{
    //     font-size: $calcFontSizeLarge;
    // }
}
