.display__container {
    user-select: none;
}

.display__row {
    user-select: none;
    display: flex;
    padding: $xs-size 0;

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }
}

.display__button {
    &.true {
        font-weight: bold;
        text-decoration: underline;
    }
}

.fade {
    color: $text-brown-faded;
}
