.displayScroll__container {
    user-select: none;
}

.displayScroll__heading--container {
    @include button--border;
    @include button--shadow--list;
    background-color: $menu-yellow;
    color: $text-brown;
    user-select: none;
    min-height: $calcFontSizeExtraLarge;
    display: flex;
    justify-content: space-between;
    &.faded {
        color: $text-brown-faded;
    }
}



.displayScroll__heading--minus {
    float: left;
}

.displayScroll__heading--clickable {
    width: 75%;
}

// .displayScroll__heading--title {

// }

.displayScroll__heading--add {
    float: right;
}

// .displayScroll__container--description {

// }

.displayScroll__description {
    padding: $xs-size;
}

// @media only screen and (min-device-width: $desktop-breakpoint) {
// }
