.displayTraits__container {
    user-select: none;
    background-color: transparent;
    background: transparent;
    // border: 1px solid $text-brown;
    border-top: 1px solid $text-brown;
    border-right: 1px solid $text-brown;
    // border-bottom: 1px solid $text-brown;
    border-left: 1px solid $text-brown;
}

.displayTraits__section--top {
    padding-top: $xs-size;
}

.displayTraits__section--bottom {
    padding-top: $xs-size;
    border-bottom: 1px solid $text-brown;
}

.displayTraits__text--reminder {
    font-style: italic;
    font-size: $calcFontSize;
    justify-content: right;
    display: flex;
}
