.displayScroll__container {
    user-select: none;
}

.displayScroll__heading--container {
    @include button--border;
    background-color: $menu-yellow;
    color: $text-brown;
    user-select: none;
    @include button--shadow--list;
    &.faded {
        color: $text-brown-faded;
    }
}

.displayScroll__heading--minus {
    float: left;
    padding-top: 5px;
}

.displayScroll__heading--title {
    margin-left: $xs-size;
}

.displayScroll__heading--add {
    float: right;
    padding-top: 5px;
}

// .displayScroll__container--description {

// }

.displayScroll__description {
    padding: $xs-size;
}
