body {
  margin: 0;
  padding: 0;
  background-color: $menu-yellow-background;
  // background-color: $background-brown;
  overflow-wrap: break-word;
  hyphens: auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.clickOpen__text--reminder {
  font-style: italic;
  font-size: $calcFontSize;
  justify-content: right;
  display: flex;
  margin-right: $xs-size;
}

.label__centered {
  text-align: center;
  display: block;
}

.hr__brown {
  border-color: $text-brown;
}

.italic {
  font-style: italic;
}

.small {
  font-size: $calcFontSize;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.regular {
  font-size: $calcFontSize;
}

.large {
  font-size: $calcFontSizeLarge;
}

.extraLarge {
  font-size: $calcFontSizeExtraLarge;
}

.topMargin {
  margin-top: $m-size;
}

.brown {
  color: $text-brown;

  a:link {
    color: $text-brown;
  }

  a:visited {
    color: $text-brown;
  }

  a:hover {
    color: $text-brown;
  }

  a:active {
    color: $text-brown;
  }
}

.navLink {
  color: $text-brown;
  text-decoration: none;
  @include button--shadow;
  @include button--border;
  padding: 0 5px;
  background-color: $menu-yellow;

  &.active {
    font-weight: bold;
    color: $text-brown;
    // text-decoration: underline;
  }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
  body {
    // background-color: #151517;
    background-color: $background-brown;
  }
}
